{% extends "base.html" %}

{% block head %}
    <title>Attendance.ai - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about2.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />

{% endblock %}

{% block body %} 

<h5 class="card-title"><center>Auto-Attendance Management System Using Face Recognition</center></h5>
<p class="card-info"><center>We are using Automatic Attendance process which based on image processing.In this project we are using Face
  Recognition System.First Face Detection is processed through the step image processing. Second is feature extraction,
  then step by step execution of these process helps to achieve final output. The working of this project is to detect and
    recognize face and mark attendance for the particular face and save in it database. It is designed to be reliable and low power.</center></p>
<div class="profiles">
<div class="profile">
<img src="{{ url_for('static', filename='img/about/hishma.jpg')}}" class="profile-img">

<h5 class="user-name"><center>Ansari Hishmah Nadeem</center></h5>

</div>
<div class="profile">
<img src="{{ url_for('static', filename='img/about/dinesh.png')}}" class="profile-img">

<h5 class="user-name"><center>Nayak Dinesh Dayanand</center></h5>

</div>
<div class="profile">
<img src="{{ url_for('static', filename='img/about/chandani.jpg')}}" class="profile-img">

<h5 class="user-name"><center>Yadav Chandani Ramdhiraj</center></h5>

</div>
</div>

{% endblock %}
