<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="3;url=/home" />
        <title>.ai</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/startWindow.css')}}" />
    </head>
    <body>
        <h1 data-text="Attendance Intelligence.ai">
            <span class='glow'>A</span>
            <span>ttendance</span>
            <span class='glow'>I</span>
            <span>ntelligence</span>
            <span class='glow'>.ai</span>
        </h1>
    </body>
</html>